# Rust Gitignore:
drone_sim/target/
drone_sim/Cargo.lock



# C# Gitignore:
GroundStationWeb/bin
GroundStationWeb/obj
GroundStationWeb/Properties/launchSettings.json
GroundStationWeb/.vs/
GroundStationWeb/appsettings.Development.json
GroundStationWeb/appsettings.Production.json
GroundStationWeb/appsettings.Staging.json
GroundStationWeb/appsettings.json
/bin
/obj

